#mainTitle {
    /*width: 450px;*/
    height: 10px;
    font-size: 40px;
    float left;
    margin-left: 60px;
}

#mainMessage {
    height: 10px;
    font-size: 25px;
    float: right;
    margin-right: 20px;
}

div.mainSignage {
    width: 800px;
    background-color: #9febf6;
    margin: auto auto;
    margin-top: 120px;
}

.mainSignage li {
    list-style-type: none;
    line-height: 150px;
    border-bottom: solid 1px #000;
}

.mainSignage ul {
		padding: 0;
}

.menuText {
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
		padding-left: 35px;
}
#bottom{
	border-bottom: solid 1px #9febf6;
}


div.main {
    width: 100%;
    height: 1000px;
    //background-color: #00ffff;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.menuBtn1, .menuBtn2, .menuBtn3 {
    background-color: #6af5e8;
    font-size: 2.8em;
    width: 75%;
    height: 200px;
    color: #000000;
    padding: 10px 30px;
    text-align: center;
    border-radius: 20px;
}

.menuBtn1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px auto;
}

.menuBtn2 {
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px auto;
}

.menuBtn3 {
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px auto;
}

.tab, .content {
    list-style-type: none
}

ul.tab {
    width: 600px;
    height: 100px;
    font-size: 2em;
    vertical-align: middle;
    //background-color: black;
    font-weight: bold;
    overflow: hidden;
    position: absolute;
    top: 150px;
    right: 30px;
    margin: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

#controller {
    width: 230px;
    height: 90px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 230px;
    margin: auto;
}

#career {
    width: 150px;
    height: 90px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 30px;
    margin: auto;
}

.tab li {
    background: #ccc;
    padding: 5px 25px;
    float: left;
    margin-right: 1px;
}

.tab li.select {
    background: #eee;
}

.content li {
    width: 100%;
    height: 100%;
    //background:#eee;
    //padding:20px;
}

.hide {
    display: none;
}

.pic1 {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#footer {
    position: fixed;
    bottom: 0px;
}

.mainReset {
    /* �e�{�b�N�X */
    width: 100%;
    height: 180px;
    background-color: #0055ff;
    margin-bottom: -10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mainRelease {
    background-color: black;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    height: 180px;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
}
